## Civis Assessment

In [2]:
import pandas as pd
import numpy as np

#### Read in and review Household, Individual and Registration datasets.  
Will run info() and describe() to check for missing values and take a quick look at some basic stats.

In [8]:
df_hh = pd.read_csv("../data/household_data.csv")
df_hh.head()

   hh_id  hh_income  is_urban  is_owner_of_home tercile_of_census_tract_income
0      1     111000         1                 0                         Middle
1      2     123000         1                 1                         Bottom
2      3     105400         1                 0                         Middle
3      4      48100         1                 0                            Top
4      5      54600         0                 0                            Top

In [9]:
df_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
hh_id                             10000 non-null int64
hh_income                         10000 non-null int64
is_urban                          10000 non-null int64
is_owner_of_home                  10000 non-null int64
tercile_of_census_tract_income    10000 non-null object
dtypes: int64(4), object(1)
memory usage: 390.7+ KB

In [14]:
df_hh.describe()

             hh_id      hh_income      is_urban  is_owner_of_home
count  10000.00000   10000.000000  10000.000000      10000.000000
mean    5000.50000   80408.040000      0.602500          0.243400
std     2886.89568   25905.428977      0.489405          0.429156
min        1.00000   31200.000000      0.000000          0.000000
25%     2500.75000   51800.000000      0.000000          0.000000
50%     5000.50000   90600.000000      1.000000          0.000000
75%     7500.25000  102200.000000      1.000000          0.000000
max    10000.00000  137800.000000      1.000000          1.000000

In [163]:
df_ind = pd.read_csv("../data/individual_data.csv")
df_ind.head(10)

,hh_id,person_id,is_head_of_household,married,gender,race,age,voted_in_2012,is_college_graduate
0,1,1,1,Single,Female,White,28,0,1
1,1,2,0,Single,Male,White,27,1,1
2,2,3,1,Married,Female,White,34,0,1
3,2,4,0,Married,Male,White,33,1,0
4,2,5,0,Single,Male,White,6,0,1
5,3,6,1,Single,Female,White,28,0,1
6,3,7,0,Single,Male,White,29,1,0
7,4,8,1,Single,Female,White,30,0,1
8,4,9,0,Single,FEMALE,White,3,0,0
9,5,10,1,Single,Female,White,30,1,1

In [17]:
df_ind["race"].unique()

array(['White', 'Asian', 'Black'], dtype=object)

In [11]:
df_ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21046 entries, 0 to 21045
Data columns (total 9 columns):
hh_id                   21046 non-null int64
person_id               21046 non-null int64
is_head_of_household    21046 non-null int64
married                 21046 non-null object
gender                  21046 non-null object
race                    21046 non-null object
age                     21046 non-null int64
voted_in_2012           21046 non-null int64
is_college_graduate     21046 non-null int64
dtypes: int64(6), object(3)
memory usage: 1.4+ MB

In [13]:
df_ind.describe()

,hh_id,person_id,is_head_of_household,age,voted_in_2012,is_college_graduate
count,21046.000000,21046.000000,21046.000000,21046.000000,21046.000000,21046.000000
mean,4996.867861,10523.500000,0.475150,24.350851,0.380500,0.700703
std,2885.491077,6075.601219,0.499394,11.298379,0.485521,0.457961
min,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000
25%,2508.250000,5262.250000,0.000000,25.000000,0.000000,0.000000
50%,4993.500000,10523.500000,0.000000,30.000000,0.000000,1.000000
75%,7498.000000,15784.750000,1.000000,32.000000,1.000000,1.000000
max,10000.000000,21046.000000,1.000000,34.000000,1.000000,1.000000

In [6]:
df_reg = pd.read_csv("../data/registration_status.csv")
df_reg.head()

   person_id  is_registered_democrat
0          1                     0.0
1          2                     0.0
2          3                     0.0
3          4                     1.0
4          5                     0.0

As noted in the assessment document some people do not have a value for is_registered_democrat

In [12]:
df_reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21046 entries, 0 to 21045
Data columns (total 2 columns):
person_id                 21046 non-null int64
is_registered_democrat    10537 non-null float64
dtypes: float64(1), int64(1)
memory usage: 328.9 KB

#### Question 1:  Create a feature to indicate if individual is an adult (i.e. 18 or older).  What is the percent of the sample are adults?

In [22]:
df_ind.columns

Index(['hh_id', 'person_id', 'is_head_of_household', 'married', 'gender',
       'race', 'age', 'voted_in_2012', 'is_college_graduate', 'is_adult'],
      dtype='object')

In [164]:
df_ind["is_adult"] = np.where(df_ind["age"] >= 18, 1, 0)
df_ind.head()

,hh_id,person_id,is_head_of_household,married,gender,race,age,voted_in_2012,is_college_graduate,is_adult
0,1,1,1,Single,Female,White,28,0,1,1
1,1,2,0,Single,Male,White,27,1,1,1
2,2,3,1,Married,Female,White,34,0,1,1
3,2,4,0,Married,Male,White,33,1,0,1
4,2,5,0,Single,Male,White,6,0,1,0

In [100]:
# get count of adults divided total number of people = percentage of adults.
adult_pop = df_ind[df_ind["is_adult"] == 1].shape[0]
total_pop = df_ind.shape[0]
adult_pop / total_pop

0.7646108524185118

In [106]:
child_pop = df_ind[df_ind["is_adult"] == 0].shape[0]
child_pop

4954

#### Question 2:  What is the average number of adults per household? What is the average number of children per household?

In [287]:
#df_ind[["hh_id", "person_id", "is_adult"]].head(20)

In [85]:
# REMOVE
#df_ind[df_ind["is_adult"] == 0].groupby("hh_id").agg({"is_adult": "count"}).head(20)
df_adults = pd.DataFrame(df_ind[df_ind["is_adult"] == 1].groupby("hh_id").agg({"is_adult": "sum"})).reset_index()
sum(df_adults.is_adult)/df_grp.shape[0]

1.6092

In [105]:
np.mean(df_ind[df_ind["is_adult"] == 1].groupby("hh_id").agg({"is_adult": "count"})) 
# could also use sum here since dealing with 1s

is_adult    1.6092
dtype: float64

In [92]:
np.mean(df_ind[df_ind["is_adult"] == 0].groupby("hh_id").agg({"is_adult": "count"}))

is_adult    1.308505
dtype: float64

#### What percent of adults are college graduates? What percentage of people are college graduates?

In [150]:
college_grads = sum(df_ind["is_college_graduate"])
print("total college grads: ", college_grads)
print("adult population:", adult_pop)
print("child population:", child_pop)
print("total population:", total_pop)

total college grads:  14747
adult population: 16092
child population: 4954
total population: 21046

In [133]:
college_grad_filter = df_ind["is_college_graduate"] == 1
is_adult_filter = df_ind["is_adult"] == 1
is_child_filter = df_ind["is_adult"] == 0

In [152]:
adult_grads = df_ind[(college_grad_filter) & (is_adult_filter)]#.shape[0]
print("adult_college_grads", adult_grads.shape[0])
print("percent of adults who are college graduates: ", adult_grads.shape[0]/college_grads)

adult_college_grads 11283
percent of adults who are college graduates:  0.765104767071

In [144]:
print("percent of sample population who are college graduates: ", college_grads/total_pop)

percent of sample population who are college graduates:  0.700703221515

In [148]:
child_grads = df_ind[(college_grad_filter) & (is_child_filter)]#.shape[0]
print("percent of children who are college graduates: ", child_grads.shape[0]/college_grads, "??")

percent of children who are college graduates:  0.234895232929 ??

In [142]:
child_grads[["age","is_college_graduate", "is_adult" ]].sort_values("age")

       age  is_college_graduate  is_adult
4397     2                    1         0
12777    2                    1         0
10156    2                    1         0
12725    2                    1         0
3075     2                    1         0
3117     2                    1         0
3126     2                    1         0
6403     2                    1         0
3140     2                    1         0
18374    2                    1         0
10162    2                    1         0
6378     2                    1         0
6370     2                    1         0
19731    2                    1         0
6369     2                    1         0
18404    2                    1         0
10182    2                    1         0
19726    2                    1         0
10146    2                    1         0
12649    2                    1         0
12782    2                    1         0
12828    2                    1         0
18338    2                    1         0
19827    2                    1         0
2847     2                    1         0
12986    2                    1         0
10105    2                    1         0
16106    2                    1         0
6485     2                    1         0
12903    2                    1         0
...    ...                  ...       ...
12303    7                    1         0
16298    7                    1         0
18505    7                    1         0
6141     7                    1         0
18516    7                    1         0
18519    7                    1         0
6137     7                    1         0
12343    7                    1         0
12171    7                    1         0
12150    7                    1         0
12093    7                    1         0
18428    7                    1         0
6673     7                    1         0
6611     7                    1         0
11951    7                    1         0
18327    7                    1         0
6574     7                    1         0
6539     7                    1         0
6519     7                    1         0
18311    7                    1         0
6516     7                    1         0
16381    7                    1         0
6452     7                    1         0
12047    7                    1         0
6402     7                    1         0
6366     7                    1         0
12082    7                    1         0
6311     7                    1         0
6506     7                    1         0
12924    7                    1         0

[3464 rows x 3 columns]

#### Create a variable that indicates the type of household: “single male head of household,” “single female head of household,” “married couple,” or “unmarried couple.” What percent of households are of each type?

In [165]:
df_ind["gender"] = df_ind["gender"].str.lower()
df_ind["married"] = df_ind["married"].str.lower()
df_ind["race"] = df_ind["race"].str.lower()
df_ind.head()

,hh_id,person_id,is_head_of_household,married,gender,race,age,voted_in_2012,is_college_graduate,is_adult
0,1,1,1,single,female,white,28,0,1,1
1,1,2,0,single,male,white,27,1,1,1
2,2,3,1,married,female,white,34,0,1,1
3,2,4,0,married,male,white,33,1,0,1
4,2,5,0,single,male,white,6,0,1,0

In [166]:
df_ind["gender"].unique()

array(['female', 'male', 'f', 'm'], dtype=object)

In [170]:
df_ind["is_male"] = np.where(df_ind["gender"].isin(["male", "m"]), 1, 0)

In [173]:
df_ind["married"].unique()

array(['single', 'married'], dtype=object)

In [174]:
df_ind["is_married"] = np.where(df_ind["married"] == "married", 1, 0)

In [183]:
df_ind.head(10)

,hh_id,person_id,is_head_of_household,married,gender,race,age,voted_in_2012,is_college_graduate,is_adult,is_male,is_married
0,1,1,1,single,female,white,28,0,1,1,0,0
1,1,2,0,single,male,white,27,1,1,1,1,0
2,2,3,1,married,female,white,34,0,1,1,0,1
3,2,4,0,married,male,white,33,1,0,1,1,1
4,2,5,0,single,male,white,6,0,1,0,1,0
5,3,6,1,single,female,white,28,0,1,1,0,0
6,3,7,0,single,male,white,29,1,0,1,1,0
7,4,8,1,single,female,white,30,0,1,1,0,0
8,4,9,0,single,female,white,3,0,0,0,0,0
9,5,10,1,single,female,white,30,1,1,1,0,0

In [186]:
df_ind["age"][is_child_filter].value_counts()

5    839
4    836
6    830
2    826
3    819
7    804
Name: age, dtype: int64

In [185]:
df_ind["age"][is_adult_filter].value_counts()

32    2294
30    2282
33    2232
31    2195
34    2186
27    1011
26     991
29     976
25     976
28     949
Name: age, dtype: int64

#### Filter on adults only and then group adults by household and married status and then count the adults.  If the adult count is two then we can assume the household is headed by a couple.  Then use the married status to determine if the couple is married or unmarried.

In [288]:
df_grp_adults = pd.DataFrame(df_ind[is_adult_filter].groupby(["hh_id", "is_married"]).
                             agg({"is_male":"sum", "person_id":"count"})).reset_index()
#pd.DataFrame(df_ind[is_adult_filter].groupby(["hh_id", "is_married"]).
                            # agg({"person_id":"count"})).reset_index()
df_grp_adults.columns = ["hh_id", "hh_is_married", "hh_is_male" ,"hh_adult_count"]
df_grp_adults.head(10)

   hh_id  hh_is_married  hh_is_male  hh_adult_count
0      1              0           1               2
1      2              1           1               2
2      3              0           1               2
3      4              0           0               1
4      5              0           0               1
5      6              1           1               2
6      7              0           0               1
7      8              1           1               2
8      9              0           1               1
9     10              0           1               1

In [289]:
# hohh = head of household
def find_hohh_status(row):
    status = 0;
    if row.hh_adult_count == 1:
        if row.hh_is_male == 0:
            status = 1 # single female hohh
        else:
            status = 2 # single male hohh
    else:
        if row.hh_is_married == 0:
            status = 3 # married couple hohh
        else:
            status = 4 # unmarried couple hohh
    return status

In [290]:
df_grp_adults["hohh_status"] = df_grp_adults[["hh_is_married", "hh_adult_count", "hh_is_male"]].apply(find_hohh_status, axis=1)
df_grp_adults.head(20)

    hh_id  hh_is_married  hh_is_male  hh_adult_count  hohh_status
0       1              0           1               2            3
1       2              1           1               2            4
2       3              0           1               2            3
3       4              0           0               1            1
4       5              0           0               1            1
5       6              1           1               2            4
6       7              0           0               1            1
7       8              1           1               2            4
8       9              0           1               1            2
9      10              0           1               1            2
10     11              0           1               2            3
11     12              0           1               1            2
12     13              0           1               1            2
13     14              0           1               1            2
14     15              0           1               1            2
15     16              0           1               1            2
16     17              0           0               1            1
17     18              0           1               2            3
18     19              0           1               1            2
19     20              1           1               2            4

In [291]:
df_ind_merge = df_ind.merge(df_grp_adults, left_on='hh_id', right_on='hh_id', how='outer')

In [293]:
df_ind_merge[["hh_id", "married", "gender", "is_male", "age", "hohh_status"]].head(30)

    hh_id  married  gender  is_male  age  hohh_status
0       1   single  female        0   28            3
1       1   single    male        1   27            3
2       2  married  female        0   34            4
3       2  married    male        1   33            4
4       2   single    male        1    6            4
5       3   single  female        0   28            3
6       3   single    male        1   29            3
7       4   single  female        0   30            1
8       4   single  female        0    3            1
9       5   single  female        0   30            1
10      5   single    male        1    5            1
11      5   single  female        0    7            1
12      6  married  female        0   31            4
13      6  married    male        1   30            4
14      7   single  female        0   33            1
15      7   single    male        1    6            1
16      8  married  female        0   25            4
17      8  married    male        1   25            4
18      8   single       f        0    6            4
19      9   single    male        1   31            2
20     10   single    male        1   32            2
21     11   single  female        0   30            3
22     11   single    male        1   28            3
23     12   single    male        1   27            2
24     12   single  female        0    5            2
25     13   single    male        1   29            2
26     14   single    male        1   33            2
27     15   single    male        1   34            2
28     16   single    male        1   26            2
29     17   single  female        0   33            1

In [294]:
df_hh_merge = df_hh.merge(df_grp_adults, left_on='hh_id', right_on='hh_id', how='outer')
df_hh_merge.head(10)

,hh_id,hh_income,is_urban,is_owner_of_home,tercile_of_census_tract_income,hh_is_married,hh_is_male,hh_adult_count,hohh_status
0,1,111000,1,0,Middle,0,1,2,3
1,2,123000,1,1,Bottom,1,1,2,4
2,3,105400,1,0,Middle,0,1,2,3
3,4,48100,1,0,Top,0,0,1,1
4,5,54600,0,0,Top,0,0,1,1
5,6,108400,1,1,Top,1,1,2,4
6,7,53200,1,0,Top,0,0,1,1
7,8,96400,0,1,Top,1,1,2,4
8,9,39300,1,0,Top,0,1,1,2
9,10,56400,0,0,Top,0,1,1,2

In [295]:
df_hh_merge.tercile_of_census_tract_income.unique()

array(['Middle', 'Bottom', 'Top'], dtype=object)

In [312]:
df_hh_merge[df_hh_merge["is_owner_of_home"] == 1].shape[0]

2434

In [307]:
df_hh_merge.groupby(["hohh_status", "is_urban", "is_owner_of_home"]).agg(
    {"hh_income": {"mean", "median"}, "is_urban":"count", "is_owner_of_home": "count"})

                          hh_income         is_urban
                               mean  median is_urban
hohh_status is_urban
1           0          49702.486188   49400      362
            1          49958.585859   49750      594
2           0          49932.789700   50000     1165
            1          49831.337437   49800     1787
3           0          99917.965654  100200     1514
            1         100157.649254  100400     2144
4           0          99909.207709   99800      934
            1          99908.933333   99800     1500

In [318]:
df_hh_merge.groupby(["hohh_status", "tercile_of_census_tract_income", "is_owner_of_home"]).agg(
    {"hh_income": {"mean", "median"}, 
     "tercile_of_census_tract_income":"count", 
     "is_owner_of_home":"count"})

                                                                 hh_income  \
                                                                      mean
hohh_status tercile_of_census_tract_income is_owner_of_home
1           Bottom                         0                  50598.630137
            Middle                         0                  49667.213115
            Top                            0                  49746.730463
2           Bottom                         0                  49850.892857
            Middle                         0                  50290.199336
            Top                            0                  49743.638275
3           Bottom                         0                 100015.061296
            Middle                         0                 100236.211699
            Top                            0                 100015.027438
4           Bottom                         1                 100208.938547
            Middle                         1                  99768.093385
            Top                            1                  99886.683739

                                                                     \
                                                             median
hohh_status tercile_of_census_tract_income is_owner_of_home
1           Bottom                         0                  50650
            Middle                         0                  50400
            Top                            0                  49300
2           Bottom                         0                  49750
            Middle                         0                  50500
            Top                            0                  49700
3           Bottom                         0                 100200
            Middle                         0                 100700
            Top                            0                 100200
4           Bottom                         1                 100100
            Middle                         1                  99000
            Top                            1                 100000

                                                            tercile_of_census_tract_income  \
                                                            tercile_of_census_tract_income
hohh_status tercile_of_census_tract_income is_owner_of_home
1           Bottom                         0                                           146
            Middle                         0                                           183
            Top                            0                                           627
2           Bottom                         0                                           448
            Middle                         0                                           602
            Top                            0                                          1902
3           Bottom                         0                                           571
            Middle                         0                                           718
            Top                            0                                          2369
4           Bottom                         1                                           358
            Middle                         1                                           514
            Top                            1                                          1562

                                                            is_owner_of_home
                                                            is_owner_of_home
hohh_status tercile_of_census_tract_income is_owner_of_home
1           Bottom                         0                             146
            Middle                         0                             183
            Top                            0                             627
2           Bottom                         0                             448
            Middle                         0                             602
            Top                            0                            1902
3           Bottom                         0                             571
            Middle                         0                             718
            Top                            0                            2369
4           Bottom                         1                             358
            Middle                         1                             514
            Top                            1                            1562

In [317]:
df_hh_merge.groupby(["hohh_status", "tercile_of_census_tract_income", "is_owner_of_home", "is_urban"]).agg(
    {"hh_income": {"mean", "median"}, 
     "tercile_of_census_tract_income":"count", 
     "is_owner_of_home":"count", 
     "is_urban":"count"})

                                                                          hh_income  \
                                                                               mean
hohh_status tercile_of_census_tract_income is_owner_of_home is_urban
1           Bottom                         0                0          50396.153846
                                                            1          50710.638298
            Middle                         0                0          49979.411765
                                                            1          49482.608696
            Top                            0                0          49475.619835
                                                            1          49917.142857
2           Bottom                         0                0          49765.363128
                                                            1          49907.806691
            Middle                         0                0          49797.881356
                                                            1          50607.650273
            Top                            0                0          50015.200000
                                                            1          49566.840278
3           Bottom                         0                0          99502.953586
                                                            1         100378.443114
            Middle                         0                0         100345.762712
                                                            1         100159.810875
            Top                            0                0          99889.613035
                                                            1         100103.821197
4           Bottom                         1                0         100548.905109
                                                            1          99998.190045
            Middle                         1                0         100226.530612
                                                            1          99485.534591
            Top                            1                0          99659.900166
                                                            1         100028.511967

                                                                              \
                                                                      median
hohh_status tercile_of_census_tract_income is_owner_of_home is_urban
1           Bottom                         0                0          50800
                                                            1          50500
            Middle                         0                0          50500
                                                            1          50300
            Top                            0                0          49100
                                                            1          49400
2           Bottom                         0                0          49400
                                                            1          49900
            Middle                         0                0          49900
                                                            1          50650
            Top                            0                0          50000
                                                            1          49500
3           Bottom                         0                0         100000
                                                            1         100600
            Middle                         0                0         101000
                                                            1         100600
            Top                            0                0         100000
                                                            1         100400
4           Bottom                         1                0         100400
                                                            1         100000
            Middle                         1                0          99900
                                                            1          98800
            Top                            1                0          99600
                                                            1         100200

                                                                     tercile_of_census_tract_income  \
                                                                     tercile_of_census_tract_income
hohh_status tercile_of_census_tract_income is_owner_of_home is_urban
1           Bottom                         0                0                                    52
                                                            1                                    94
            Middle                         0                0                                    68
                                                            1                                   115
            Top                            0                0                                   242
                                                            1                                   385
2           Bottom                         0                0                                   179
                                                            1                                   269
            Middle                         0                0                                   236
                                                            1                                   366
            Top                            0                0                                   750
                                                            1                                  1152
3           Bottom                         0                0                                   237
                                                            1                                   334
            Middle                         0                0                                   295
                                                            1                                   423
            Top                            0                0                                   982
                                                            1                                  1387
4           Bottom                         1                0                                   137
                                                            1                                   221
            Middle                         1                0                                   196
                                                            1                                   318
            Top                            1                0                                   601
                                                            1                                   961

                                                                     is_owner_of_home  \
                                                                     is_owner_of_home
hohh_status tercile_of_census_tract_income is_owner_of_home is_urban
1           Bottom                         0                0                      52
                                                            1                      94
            Middle                         0                0                      68
                                                            1                     115
            Top                            0                0                     242
                                                            1                     385
2           Bottom                         0                0                     179
                                                            1                     269
            Middle                         0                0                     236
                                                            1                     366
            Top                            0                0                     750
                                                            1                    1152
3           Bottom                         0                0                     237
                                                            1                     334
            Middle                         0                0                     295
                                                            1                     423
            Top                            0                0                     982
                                                            1                    1387
4           Bottom                         1                0                     137
                                                            1                     221
            Middle                         1                0                     196
                                                            1                     318
            Top                            1                0                     601
                                                            1                     961

                                                                     is_urban
                                                                     is_urban
hohh_status tercile_of_census_tract_income is_owner_of_home is_urban
1           Bottom                         0                0              52
                                                            1              94
            Middle                         0                0              68
                                                            1             115
            Top                            0                0             242
                                                            1             385
2           Bottom                         0                0             179
                                                            1             269
            Middle                         0                0             236
                                                            1             366
            Top                            0                0             750
                                                            1            1152
3           Bottom                         0                0             237
                                                            1             334
            Middle                         0                0             295
                                                            1             423
            Top                            0                0             982
                                                            1            1387
4           Bottom                         1                0             137
                                                            1             221
            Middle                         1                0             196
                                                            1             318
            Top                            1                0             601
                                                            1             961